<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'shared/userinfo',book: @book %>
    <%= render 'shared/newbook',book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table>
        <tr>
          <td>
            <%= link_to user_path(@book_id.user) do %>
              <%= image_tag(@book_id.user.get_profile_image(80,80)) %>
            <% end %><br>
            <%= link_to user_path(@book_id.user) do %>
              <%= @book_id.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book_id) do %>
              <%= @book_id.title %>
            <% end %>
          </td>
          <td>
            <%= @book_id.body %>
          </td>
          <td>
            <% if @book_id.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book_id), class:"btn btn-success btn-sm btn-block" %>
            <% end %>
          </td>

          <td>
            <% if @book_id.user == current_user %>
              <%= link_to "Destroy", book_path(@book_id), class:"btn btn-danger btn-sm btn-block",method: :delete %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>